:root {
  --bg_main: #0a1f44;
  --text_light: #fff;
  --text_med: #53627c;
  --text_dark: #1e2432;
  --red: #ff1e42;
  --darkred: #c3112d;
  --orange: #ff8c00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}


input[type=text] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  outline: none;
  color: inherit;
  /* width: 100%; */
  height: 40px;
  padding: 5px 5px 10px;
  font-size: 1.2rem !important;
  border-bottom: 1px solid;
}

input::placeholder {
  color: currentColor;
}

body {
  /* background: #0485c7; */
  background: var(--bg_main);
  color: #fff;
  font-family: "Roboto", sans-serif;
}

/* Custom css */
.button {
  background-color: #2b2622;
  position: relative;
  width: 74px;
  height: 36px;
  overflow: hidden;
  /* left: 55%; */
  outline: solid 1px #fff;
  margin-top: 1.5rem;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

#button .knobs:before {
  content: '°C';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03A9F4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button .checkbox:checked+.knobs:before {
  content: '°F';
  left: 42px;
  background-color: #f44336;
}

#button .checkbox:checked~.layer {
  background-color: #fcebeb;
}

#button .knobs,
#button .knobs:before,
#button .layer {
  transition: 0.3s ease all;
}